:root {
    --ff: 'Montserrat', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-popins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-second: 'Montserrat', sans-serif;
    --transition: 0.2s all ease-in-out;
  
    
  }